<section class="sign-up-section">

  <link rel="stylesheet" href="/css/signUp.css">

  <div id="errorMessagesDiv">
    {{#if message}}
    <div id="message">
      <p id="message">{{ message }}</p>
    </div>
    {{/if}}
  </div>

  <div>
    <h4 class="font-weight-bold text-center">Create an account</h4>
  </div>


  <div id="logo-container">
    <img id="login-logo" src="/assets/img/indie-login-logo.png">
  </div>


  <form class="sign-up-form" action="/user/sign/up" method="POST">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="nameInput" name="name" placeholder="Full Name"
        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
        required>
      <label for="nameInput">Full name</label>
      <span id="error-name" style="color: red;" class="d-block"></span>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="emailInput" name="email" placeholder="Email"
        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
      <label for="nameInput">Email</label>
      <span id="error-email" style="color: red;" class="d-block"></span>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="passowrdInput" name="password" placeholder="Password" required>
      <label for="password">Password</label>
      <span id="error-password" style="color: red;" class="d-block"></span>
    </div>

    <button type="submit" id="signUpButton">Sign up</button>
  </form>

  <div class="text">
    <p class="text-center">If you have a account. <a href="/user/sign/in">Sign in</a></p>
  </div>

</section>

<script>

  const emailError = document.getElementById('error-email');
  var button = document.getElementById('signUpButton');

  emailInput.addEventListener('input', validateEmail);

  function validateEmail() {
    const email = emailInput.value;
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (!regex.test(email)) {
      emailError.textContent = 'Invalid email.';
      button.disabled = true;
    } else {
      emailError.textContent = '';
      button.disabled = false;
    }
  }

  const header = document.getElementsByTagName("header")[0].remove();
  document.addEventListener("DOMContentLoaded", function () {
    var footer = document.getElementById("footer");
    if (footer) {
      footer.remove();
    }
  });

</script>

<script src="/js/checkSignUpFormFields.js"></script>