<link rel="stylesheet" href="/css/profileTabs.css">
<section>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <div class="tab-container">
        <link rel="stylesheet" href="/css/userProfile.css">
        <ul class="tab-list">
            <li class="tab-list-item">
                <a href="#profile" class="tab-list-link active">Profile</a>
            </li>
            <li class="tab-list-item">
                <a href="#units" class="tab-list-link">Units</a>
            </li>
            {{#if admin}}
            <li class="tab-list-item">
                <a href="#users" class="tab-list-link">Users</a>
            </li>
            {{/if}}
        </ul>

        <div id="profile" class="tab-content active">
            {{> user}}
        </div>

        <div id="units" class="tab-content">
            <h2>Contenido del Tab units</h2>
            <p>Aquí puedes agregar lista de unidades</p>
        </div>

        <div id="users" class="tab-content">
            <h2>Contenido del Tab users</h2>
            <p>Aquí puedes agregar lista de usuarios.</p>
            {{> allUsers}}
        </div>
    </div>
</section>
<script src="/js/tabsLogic.js"></script>