<section class="allUsersSection">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usersCards.css">


    {{> search}}
    {{#each allUsers}}

    <div class="user-card">
        <p><strong>Name:{{this.name}}</strong></p>
        <p><strong>Email: {{this.email}}</strong></p>
        <button id="editButtonAllUsersTab" onclick="editUser('{{this._id}}')">Edit</button>
        <button id="deleteButtonAllUsersTab">Delete</button>
    </div>

    {{/each}}

    <button id="showMoreButton">Show more</button>

    <script>
        function editUser(uid) {
            window.location.href = `/user/edit/${uid}`;
        }
    </script>
</section>