<footer>
  <div class="footer-container">
    <div class="left-section">
      <div class="footer-info">
        <span class="name" style="font-weight: bold;">Nombre:&nbsp &nbsp</span><span>Bilal Aniba El Hasnaoui</span><br>
        <span class="email" style="font-weight: bold;">Email:&nbsp &nbsp &nbsp
          &nbsp</span><span>bilalanibahasnaoui@gmail.com</span><br><br>
        <span class="date">Fecha: 8 de julio de 2023</span><br><br>

        <a href="https://www.instagram.com/bilal_aniba/" target="_blank">
          <img src="/assets/img/instagram-logo.png" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/in/bilal-aniba-48b74a190/" target="_blank">
          <img src="/assets/img/linkeding-logo.png" alt="Linkedin" />
        </a>

      </div>
    </div>
    <div class="right-section">
      <span class="institution">Copyright © UNIVERSIDAD POLITÉCNICA DE CARTAGENA
        PZA DEL CRONISTA ISIDORO VALVERDE, EDIF. LA MILAGROSA
        C.P: 30202 CARTAGENA. TLF: 968 32 54 00</span><br><br><br>
      <div class="social-media">
        <a href="https://www.instagram.com/upctoficial/" target="_blank">
          <img src="/assets/img/instagram-logo.png" alt="Instagram" />
        </a>

        <a href="https://www.facebook.com/UPCTuniversidad/?locale=es_ES" target="_blank">
          <img src="/assets/img/facebook-logo.png" alt="Facebook" />
        </a>

        <a href="https://twitter.com/UPCToficial" target="_blank">
          <img src="/assets/img/twitter-logo.png" alt="Twitter" />
        </a>

        <a href="https://www.upct.es/" target="_blank">
          <img src="/assets/img/web-logo.png" alt="Website" />
        </a>
      </div>
    </div>
  </div>

  <ul class="legal-list" style="line-heigth: 1rem;">
    <li>
      <a href="/legal/notice">&nbsp;AVISO LEGAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
    </li>
    <li><a href="/legal/data">&nbsp;PROTECCIÓN DE DATOS</a></li>
  </ul>
</footer>


<style>
  .legal-list {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  .legal-list li {
    display: inline;
  }

  .legal-list li a {
    color: white;
    font-size: small;
    text-decoration: none;
    margin-right: 10px;
  }


  footer {
    background-color: #1E3756;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-section,
  .right-section {
    flex: 1;
  }

  .footer-info {
    text-align: left;
  }

  .name,
  .email,
  .institution,
  .date {
    font-size: 14px;
  }

  .social-media img {
    width: 20px;
    height: 20px;
  }

  .social-media a {
    text-decoration: none;
    color: #ffffff;
  }

  .social-media img:hover {
    opacity: 0.8;
  }


  .footer-info img {
    width: 20px;
    height: 20px;
  }

  .footer-info a {
    text-decoration: none;
    color: #ffffff;
  }

  .footer-info img:hover {
    opacity: 0.8;
  }
</style>