<link rel="stylesheet" href="/css/userProfile.css">
<div class="profile-section">
    <h2>User profile</h2>

    <div class="profile-details">
        <div class="profile-item">
            <label for="name">Name:</label>
            <input type="text" id="name" value="{{loggedInUser.name}}" disabled>
        </div>
        <div class="profile-item">
            <label for="email">Email:</label>
            <input type="email" id="email" value="{{loggedInUser.email}}" disabled>
        </div>
        <div class="profile-item">
            <label for="password">Password:</label>
            <div>
                <input type="password" id="password" value="{{loggedInUser.password}}" disabled>
                <input type="checkbox" id="showPasswordCheckbox" class="show-password-checkbox">
                <label for="showPasswordCheckbox" class="show-password-label">Show password</label>
            </div>
        </div>
    </div>
    <button id="editButton" class="edit-button" onclick="editUser('{{loggedInUser._id}}')">Edit profile</button>
    <div id="editButtonsContainer" style="display: none;">
        <button id="cancelButton" class="cancel-button">Cancel</button>
        <button id="saveButton" class="save-button">Save</button>
    </div>
</div>

<script>
    showPasswordCheckbox.addEventListener("change", function () {
        var passwordInput = document.getElementById("password");
        if (this.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });
</script>