<!DOCTYPE html>
<html>

<head>
    <title>INDIeOpen</title>
    <link rel="icon" href="/assets/img/login-logo.png" type="image/x-icon">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

{{> header}}

<body>

    <div class="content">
        {{{body}}}
    </div>

    {{> footer}}
</body>

</html>