<!DOCTYPE html>
<html>

<head>
    <title>INDIeOpen</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

{{> header}}

<body>


    <div class="content">
        {{{body}}}
    </div>

    {{> footer}}
</body>

</html>