<!DOCTYPE html>
<html>

<head>
    <title>INDIeOpen</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

{{> header}}

<body>


    <div class="content">
        {{{body}}}
    </div>

    {{> footer}}
</body>

</html>