body {
    background-image: url('/assets/img/cropped-book.jpg');
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    background-color: #D41857;
    border-color: #D41857;
}

.btn:hover {
    background-color: #D41857;
    border-color: #D41857;
    filter: brightness(90%);
}

.btn:disabled {
    background-color: #000000;
    border-color: #000000;
    filter: brightness(90%);
}

.btn-outline-primary {
    border-color: #D41857;
    color: #D41857;
    background-color: transparent;
}
