header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(233, 233, 233);
}

.title {
    margin: 0;
}

.logo {
    margin-left: 20px;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/07/08/11/33/white-2484120_1280.png");
}