header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.title {
    margin: 0;
}

.logo {
    margin-left: 20px;
}

body {
    background-image: url("../assets/img/main-background.png");
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}