<link rel="stylesheet" href="/css/index.css">
<div class="container text-center container-home">


    <div class="row h-100">
        <div class="col-md-6 transparent-bg increased-font small-text">
            <h1 class="fw-bold text-start lh-1" style="font-size: 5rem;">Crea, enseña y aprende</h1>
            <p class="small text-start lh-sm mt-4">
                Con una plataforma de contenido digital interactivo e inclusivo para compartir, reutilizar e innovar en
                el aula.<br><a id="link" class="transition pt-3 " href="#carouselUnits"><svg
                        xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                        class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg></a></p>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="carouselUnits">

        {{!-- First column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        {{!-- Second column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        {{!-- Third column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        {{!-- Fourth column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    fetchUnits();

    async function fetchUnits() {

        var apiUrl = 'unit/random?amount=36';

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const apiResponse = data.response;

                if (apiResponse.flag == 0) {
                    console.info('Not enough units');
                    var carouselUnitsDiv = document.getElementById("carouselUnits");
                    carouselUnitsDiv.remove();
                } else {
                    showUnits(apiResponse.units);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

        const showUnits = (units) => {

            var carouselItems = document.querySelectorAll('.carousel-item');

            carouselItems.forEach((item, index) => {

                const cardDivCode = `<div class="card text-bg-dark" style="font-family: Arial,Helvetica,sans-serif; background-image: url(${units[index].cover}); background-size: cover; background-position: center center;" onclick="viewUnit('${units[index].resourceId}')">
                                        <img src="/assets/img/transparent-image.png" class="card-img opacity-75" style="width: auto; height: 450px;">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title"><strong>${units[index].title}</strong></h5>
                                        </div>
                                    </div>`;

                const cardDivElement = document.createElement('div');
                cardDivElement.innerHTML = cardDivCode;

                item.appendChild(cardDivElement);

            });
        }
    }


    const viewUnit = async (resourceId) => {

        try {
            const generateUnit = await fetch(`/unit/generatecontent?resourceId=${resourceId}`);

            if (!generateUnit.ok) {
                throw new Error('Error while generating unit content');
            }

            const generatedUnitId = await generateUnit.json();

            if (!generatedUnitId.resourceId) {
                throw new Error('Resource Id retrieved is not valid');
            }

            window.open(`/${generatedUnitId.resourceId}`, '_blank').focus();

        } catch (error) {
            console.error('Error while viewing unit:', error);
        }
    };

</script>