<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

    body {
        background-image: url('/assets/img/cropped-book.jpg');
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }

    #homepage-text {
        text-align: center;
        font-size: large;
        color: #000000;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-size: auto;
    }

    #link:hover {
        opacity: 1;
    }

    #link {
        opacity: 0.5;
        display: inline-block;
    }

    .transition {
        -webkit-transition: all .3s ease;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-property: all;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-property: all;
    }

    .increased-font {
        font-size: 2.4rem;
        text-align: justify;
       
        color: #1E3756;
        font-family: 'DM Sans', sans-serif;
    }

    #link {
        font-size: 2.4rem;
        text-align: justify;
        color: #1E3756;
        font-family: 'DM Sans', sans-serif;

    }

    #carouselUnits {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    @media (max-width: 768px) {
        .small-text {
            font-size: 2rem;
        }
    }

    .container-home{
        min-height: 80vh;
    display: flex;
    align-items: center;
    }
</style>

<div class="container text-center container-home">


    <div class="row h-100">
        <div class="col-md-6 transparent-bg increased-font small-text">
            <h1 class="fw-bold text-start lh-1" style="font-size: 5rem;">Crea, enseña y aprende</h1>
            <p class="small text-start lh-sm mt-4">
                Con una plataforma de contenido digital interactivo e inclusivo para compartir, reutilizar e innovar en
                el aula.<br><a id="link" class="transition pt-3 " href="#carouselUnits"><svg
                        xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                        class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg></a></p>
        </div>

        <div class="col-md-6">
            <!-- Contenido de la parte derecha -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="carouselUnits">

        {{!-- First column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        {{!-- Second column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        {{!-- Third column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        {{!-- Fourth column --}}
        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    fetchUnits();

    async function fetchUnits() {

        var apiUrl = 'unit/random?amount=36';

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const apiResponse = data.response;

                if (apiResponse.flag == 0) {

                    //If there are not enoguth units, then hide the carousels
                    console.log('Not enough units');
                    var carouselUnitsDiv = document.getElementById("carouselUnits");
                    carouselUnitsDiv.remove();

                } else {

                    //If there are enoguth units, then show the carousels
                    showUnits(apiResponse.units);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

        const showUnits = (units) => {

            var carouselItems = document.querySelectorAll('.carousel-item');

            carouselItems.forEach((item, index) => {

                const cardDivCode = `<div class="card text-bg-dark" style="font-family: Arial,Helvetica,sans-serif; background-image: url(${units[index].cover}); background-size: cover; background-position: center center;" onclick="viewUnit('${units[index].resourceId}')">
                                        <img src="/assets/img/transparent-image.png" class="card-img opacity-75" style="width: auto; height: 450px;">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title"><strong>${units[index].title}</strong></h5>
                                    </div>
                                </div>`;

                // <img src="${units[index].cover}" class="card-img opacity-75" style="width: auto; height: 450px;">

                const cardDivElement = document.createElement('div');
                cardDivElement.innerHTML = cardDivCode;

                item.appendChild(cardDivElement);

            });
        }
    }


    const viewUnit = async (resourceId) => {

        try {
            const generateUnit = await fetch(`/unit/generatecontent?resourceId=${resourceId}`);

            if (!generateUnit.ok) {
                throw new Error('Error while generating unit content');
            }

            const generatedUnitId = await generateUnit.json();

            if (!generatedUnitId.resourceId) {
                throw new Error('Resource Id retrieved is not valid');
            }

            window.open(`/${generatedUnitId.resourceId}`, '_blank').focus();

        } catch (error) {
            console.error('Error while viewing unit:', error);
        }
    };

</script>